.main-container {
  color: white;
  display: grid;
  height: 100vh;

  grid-template-areas:
    'left-aside central-section central-section central-section central-section right-aside'
    'left-aside central-section central-section central-section central-section right-aside'
    'left-aside central-section central-section central-section central-section right-aside'
    'left-aside central-section central-section central-section central-section right-aside'
    'left-aside footer footer footer footer right-aside';
}

.central-section {
  cursor: default;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  grid-area: central-section;
}

.central-section__title {
  font-family: 'Press Start 2P';
  font-size: 3rem;
  margin: 0;
  text-align: center;
  text-transform: lowercase;
}

.central-section__description {
  margin: 1rem 0 0 0;
  text-align: center;
}

.central-section__easter-egg {
  cursor: pointer;
  user-select: none;
}

.left-aside {
  grid-area: left-aside;
}

.right-aside {
  grid-area: right-aside;
}

.footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
}

.social-list {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5rem;
}

.social-list__link {
  color: white;
  opacity: 0.5;
  text-decoration: none;
}

.social-list__link:hover {
  opacity: 1;
}
