<div [ngStyle]="{ 'background-color': backgroundColor }" class="main-container">
  <aside class="left-aside">
    <a routerLink="/my-counter" routerLinkActive="active">My counter</a>
  </aside>

  <section class="central-section">
    <h1 class="central-section__title">Sandbox</h1>
    <p class="central-section__description">
      by
      <span
        class="central-section__easter-egg"
        (click)="easterEggTrigger()"
      >
        neo0910
      </span>
    </p>
  </section>

  <footer class="footer">
    <ul class="social-list">
      <li *ngFor="let social of socials" class="social-list__item">
        <a class="social-list__link" [href]="social.link" target="_blank">
          {{ social.name }}
        </a>
      </li>
    </ul>
  </footer>
  
  <aside class="right-aside"></aside>
</div>
