<main [ngStyle]="{ 'background-color': backgroundColor }" class="main-container">
  <aside class="left-aside">
    <ul class="chapters">
      <li class="chapters__item">
        <a routerLink="/my-counter" routerLinkActive="active">My counter</a>
      </li>
    </ul>
  </aside>

  <section class="central-section">
    <div class="central-section__content">
      <h1 class="central-section__title">Sandbox</h1>
      <p class="central-section__description">
        by
        <span
          class="central-section__easter-egg"
          (click)="easterEggTrigger()"
        >
          neo0910
        </span>
      </p>
    </div>

    <footer class="central-section__footer">
      <ul class="socials">
        <li *ngFor="let social of socials" class="socials__item">
          <a class="socials__link" [href]="social.link" target="_blank">
            {{ social.name }}
          </a>
        </li>
      </ul>
    </footer>
  </section>
  
  <aside class="right-aside"></aside>
</main>
