<div style="background-color: black;" class="main-container">
  <aside class="left-aside">
    <!-- <a
      *ngFor="let social of socials"
      class="left-aside__link"
      [href]="social.link"
    >
      {{ social.name }}
    </a> -->
  </aside>

  <section class="central-section">
    <h1 class="central-section__title">Sandbox</h1>
    <p class="central-section__description">
      by <span class="central-section__easter-egg" (click)="easterEggTrigger()">neo0910</span>
    </p>
  </section>
  
  <aside class="right-aside"></aside>
</div>
